
@{
    ViewBag.Title = "Redirect";
}
<html>
<head>

    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
  
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col text-center h ">
                <button onclick="location.href='@Url.Action("SevenWeekers","PopCalc")'" class="custom-btn btn-13 btn btn-warning btn-lg ">7 Weekers</button>
                  <button onclick="location.href='@Url.Action("FourTeenWeekers","PopCalc")'" class="custom-btn btn-13 btn btn-warning btn-lg " >14 Weekers</button>
              
            </div>
        </div>
    </div>












    @*<button onclick="location.href='@Url.Action("Index","PopCalc")'" class="custom-btn btn-13 btn btn-danger btn-lg">7 Weekers</button>
        <button onclick="location.href='@Url.Action("Index","PopCalc")'" class="custom-btn btn-13 btn btn-danger btn-lg">14 Weekers</button>*@




</body>

</html>




